.App {
	text-align: center;
}

.App-logo {
	height: 30vmin;
	pointer-events: none;
}

#welcome {
	position: absolute;
	right: 400px;
	top: 50px;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

/* #App
{
height: "100vh";
width:"70%";
display: "flex";
flex-direction: "row";
} */

.App-link {
	color: #61dafb;
}

#Sidebar :hover {
	background-color: white;
	color: black;
}

#MenuIcon {
	padding: 0px 25px;
}
div:has(> blockquote) {
	background-color: #ededed;
	margin: 10px auto;
	padding: 15px;
	border-radius: 5px;
}

blockquote p::before {
	content: '\201C';
}

blockquote p::after {
	content: '\201D';
}

blockquote + p {
	text-align: right;
}

#dropdown {
	position: absolute;
	left: 50rem;
	/* margin-left: 50rem; */
	margin-top: 5px;
	border: solid black;
	background-color: #4292e2;
	color: white;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
